=pseudo-list($padding: 0, $margin: 0)
  +space($padding, $margin)

  list-style-type: none

=inline-list($padding: 0, $margin: 0)
  +pseudo-list($padding, $margin)

  .list-item
    display: inline-block

=flex
  display: flex
  justify-content: space-between

=inline-flex-list($padding: 0, $margin: 0)
  +pseudo-list($padding, $margin)
  +flex

=flex-item($width, $weight: 0)
  width: $width
  flex: $weight 1 $width

=unset-flex-item
  width: auto
  flex: none

=alternating-list($padding: 0, $margin: 0)
  +pseudo-list($padding, $margin)

  .list-item
    padding: 0.25rem 0.5rem

    &:not(:last-of-type)
      border-bottom: 0.0625rem solid rgba($black, 0.1)

    &:nth-of-type(odd)
      background: rgba($white, 0.05)

    &:nth-of-type(even)
      background: rgba($black, 0.05)
