.search
  &__field
    display: block
    width: 100%
    max-width: 20rem
    margin: 0 auto

  &__results-wrap
    width: 100%
    max-width: 60rem
    margin: 0 auto

    +breakpoint($tablet)
      +flex

      .search__results-column
        +flex-item(50%)

        &:not(:last-of-type)
          margin-right: 1rem


    +breakpoint($tablet-down)
      .search__results-column
        +flex-item(33%)


    +breakpoint($desktop)
      .search__results-column
        +flex-item(25%)

  &__results-none
    width: 100%
    text-align: center
    padding: 20vh 1rem 1rem
    font-size: 200%
    color: rgba($black, 0.5)

.result
  width: 100%
  margin-bottom: 1rem
  background: $white
  border-radius: 0.25rem
  padding: 1rem
  opacity: 0
  transform: translateY(-1rem)
  transition:
    property: transform, opacity
    duration: $fast
    timing-function: $cubic

  &.after-transition-in
    opacity: 1
    transform: translateY(0)

  &__image-wrap
    background: rgba($black, 0.1)
    border-radius: 0.25rem
    margin-bottom: 1rem

  &__image
    min-width: 100%

  &__caption
    text-align: right
    color: rgba($black, 0.75)
    font-style: italic
