.grid
  &__2x
    grid-template-columns: repeat(2, 1fr)

  &__3x
    grid-template-columns: repeat(3, 1fr)

  &__4x
    grid-template-columns: repeat(4, 1fr)

  &__5x
    grid-template-columns: repeat(5, 1fr)

  &__6x
    grid-template-columns: repeat(6, 1fr)

  &__8x
    grid-template-columns: repeat(8, 1fr)

  &__12x
    grid-template-columns: repeat(12, 1fr)
