.app__footer
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  padding: 1rem 1rem 2rem
  color: rgba(darken($white, 10%), 0.9)
  background: $footer-bg

  .heart-icon
    color: $red

  .fork-icon
    color: lighten($green, 10%)